{% extends "_layouts/base" %}

{% if not craft.app.request.isLivePreview and craft.app.config.env != 'dev' %}
    {% exit 404 %}
{% endif %}

{% block body %}
    <div class="max-w-lg p-6">
        {% include "forms/_form" with { form: entry } %}
    </div>
{% endblock %}
