{% extends '_stripe_payments/emails/_layout' %}

{% block body %}
    {{ messages.shopEmailThankYouMessage }}

    <p>
        <a href="{{ order.getPaymentForm().getReturnUrl(order) }}">Read more</a>
    </p>
{% endblock %}
